/*.patch
/*.tmp
/*.vcproj*
/*.sln
/*.ncb
/*.suo
/*.sto
/CFLAGS
/MANIFEST.configure.generated
/Makefile
/TAGS
/all_cstring.str
/blib
/config_lib.pir
/install_config.fpmc
/libparrot.def
/libparrot.dll
/miniparrot
/myconfig
/parrot
/parrot_config
/parrot_config.c
/parrot_config.pbc
/parrot_nci_thunk_gen
/parrot_nci_thunk_gen.c
/parrot_nci_thunk_gen.pbc
/parrot-nqp
/parrot-nqp.c
/parrot-nqp.pbc
/parrot.ilk
/parrot.pdb
/parrot.pc
/parrot_test_run.tar.gz
/pbc_disassemble
/pbc_info
/pbc_merge
/pbc_dump
/tags
/temp.file
/test
/test.c
/test.cco
/test.err
/test.ilk
/test.ldo
/test.out
/test.pdb
/vc60.pdb
/vc70.pdb
/vtable.dump
/installable*
/*.exe
/*.core
/*.pdb
/*.ilk
/*.def
/*.lib
/*.obj
/*.o
/*.exp
/*.manifest
/parrot.iss
/cover_db
/pbc_to_exe
/pbc_to_exe.*
/perl6
/.parrot_current_rev
/.git
/parrot_debugger
/pirc
/tapir
/tapir.*
