# Ignore SVN, if people are using the SVN Github interface (danger!)
/\B.svn\b

# Ignore core files
/core*

# Ignore patch-related stuff
*.rej
*.orig
*.patch
*.diff

# Ignore profiling files
callgrind.out.*
cachegrind.out.*

# ports/ should not go into release tarballs
*.obj
*.rc
*.res
/ports
/*.core
/*.def
/*.exe
/*.exp
/*.ilk
/*.lib
/*.manifest
/*.ncb
/*.o
/*.obj
/*.patch
/*.pdb
/*.sln
/*.sto
/*.suo
/*.tmp
# vim swap files
/\.*sw?
/*.vcproj*
/.git
/.parrot_current_rev
/.parrot_current_sha1
/.parrot_current_git_describe
/CFLAGS
/MANIFEST.configure.generated
/Makefile
/TAGS
/all_cstring.str
/blib
/config_lib.pir
/cover_db
/generated_hello.pbc
/install_config.fpmc
/installable*
/libparrot.def
/libparrot.dll
/miniparrot
/myconfig
/ops2c
/ops2c.c
/ops2c.pbc
/ops2c.pir
/parrot
/parrot-nqp
/parrot-nqp.c
/parrot-nqp.pbc
/parrot-prove
/parrot-prove.*
/parrot.ilk
/parrot.iss
/parrot.pdb
/parrot_config
/parrot_config.c
/parrot_config.pbc
/parrot_debugger
/parrot_nci_thunk_gen
/parrot_nci_thunk_gen.c
/parrot_nci_thunk_gen.pbc
/parrot_test_run.tar.gz
/parrot_old
/pbc_disassemble
/pbc_dump
/pbc_info
/pbc_merge
/pbc_to_exe
/pbc_to_exe.*
/perl6
/tags
/temp.file
/test
/test.c
/test.cco
/test.err
/test.ilk
/test.ldo
/test.out
/test.pdb
/vc60.pdb
/vc70.pdb
/vtable.dump
/compilers/data_json/data_json.pbc
/compilers/data_json/data_json/*.pbc
/compilers/data_json/data_json/*.pir
/compilers/imcc/*.flag
/compilers/imcc/*.o
/compilers/imcc/*.obj
/compilers/imcc/*.tmp
/compilers/imcc/Rules.mak
/compilers/imcc/imcc
/compilers/imcc/imclexer.c
/compilers/imcc/imcparser.c
/compilers/imcc/imcparser.h
/compilers/imcc/imcparser.output
/compilers/opsc/gen/Ops/*.pir
/compilers/opsc/gen/Ops/Compiler/*.pir
/compilers/opsc/gen/Ops/Trans/*.pir
/compilers/pct/src/PAST/*.pbc
/compilers/pct/src/PCT/*.pbc
/compilers/pct/src/POST/*.pbc
/compilers/pct/src/POST/Grammar_gen.pir
/compilers/pge/PGE.pbc
/compilers/pge/PGE/builtins_gen.pir
/compilers/tge/tgc.pbc
/compilers/tge/TGE/Parser.pir
/docs/*.tmp
/docs/Makefile
/docs/build
/docs/doc-prep
/docs/html
/docs/packfile-c.pod
/docs/packfile-perl.pod
/docs/book/*.html
/docs/ops/*.pod
/editor/Makefile
/editor/imc.vim
/editor/imcc.xml
/editor/pir.vim
/editor/skeleton.pir
/examples/languages/abc/*.c
/examples/languages/abc/*.exe
/examples/languages/abc/*.iss
/examples/languages/abc/*.o
/examples/languages/abc/*.obj
/examples/languages/abc/*.pbc
/examples/languages/abc/MANIFEST
/examples/languages/abc/abc
/examples/languages/abc/installable_abc
/examples/languages/abc/man
/examples/languages/abc/src/gen_actions.pir
/examples/languages/abc/src/gen_builtins.pir
/examples/languages/abc/src/gen_grammar.pir
/examples/languages/abc/t/*_*.out
/examples/languages/abc/t/*_*.pir
/examples/languages/squaak/*.c
/examples/languages/squaak/*.exe
/examples/languages/squaak/*.iss
/examples/languages/squaak/*.o
/examples/languages/squaak/*.obj
/examples/languages/squaak/*.pbc
/examples/languages/squaak/MANIFEST
/examples/languages/squaak/installable_squaak
/examples/languages/squaak/squaak
/examples/languages/squaak/src/gen_*.pir
/examples/mops/*.o
/examples/mops/mops
/examples/nci/*.pbc
/examples/pasm/hello
/examples/pasm/hello.c
/examples/pasm/hello.exe
/examples/pasm/hello.o
/examples/pasm/hello.obj
/examples/pasm/hello.pbc
/examples/pir/befunge/*.c
/examples/pir/befunge/*.exe
/examples/pir/befunge/*.iss
/examples/pir/befunge/*.o
/examples/pir/befunge/*.obj
/examples/pir/befunge/*.pbc
/examples/pir/befunge/MANIFEST
/examples/pir/befunge/befunge
/examples/pir/befunge/installable_befunge
/ext/Makefile
/ext/Parrot-Embed/*.bs
/ext/Parrot-Embed/*.bundle
/ext/Parrot-Embed/*.c
/ext/Parrot-Embed/*.def
/ext/Parrot-Embed/*.dll
/ext/Parrot-Embed/*.dump
/ext/Parrot-Embed/*.dylib
/ext/Parrot-Embed/*.exe
/ext/Parrot-Embed/*.exp
/ext/Parrot-Embed/*.h
/ext/Parrot-Embed/*.ilk
/ext/Parrot-Embed/*.lib
/ext/Parrot-Embed/*.manifest
/ext/Parrot-Embed/*.o
/ext/Parrot-Embed/*.obj
/ext/Parrot-Embed/*.old
/ext/Parrot-Embed/*.pdb
/ext/Parrot-Embed/*.pdb
/ext/Parrot-Embed/*.so
/ext/Parrot-Embed/*.tmp
/ext/Parrot-Embed/*.xs
/ext/Parrot-Embed/Build
/ext/Parrot-Embed/Build.bat
/ext/Parrot-Embed/Makefile
/ext/Parrot-Embed/Makefile.PL
/ext/Parrot-Embed/_build
/ext/Parrot-Embed/blib
/ext/Parrot-Embed/dll.base
/ext/Parrot-Embed/pm_to_blib
/ext/Parrot-Embed/lib/Parrot/*.c
/ext/Parrot-Embed/lib/Parrot/*.obj
/ext/Parrot-Embed/t/*.pbc
/ext/nqp-rx/src/stage0/nqp-setting.pir
/frontend/parrot/main.o
/frontend/parrot2/main.o
/frontend/parrot2/prt0.pbc
/frontend/parrot2/prt0.pbc.c
/frontend/parrot2/prt0.pbc.o
/frontend/parrot_debugger/main.o
/frontend/pbc_disassemble/main.o
/frontend/pbc_dump/main.o
/frontend/pbc_dump/packdump.o
/frontend/pbc_merge/main.o
/include/parrot/*.tmp
/include/parrot/config.h
/include/parrot/core_pmcs.h
/include/parrot/extend_vtable.h
/include/parrot/feature.h
/include/parrot/has_header.h
/include/parrot/opsenum.h
/include/parrot/pbcversion.h
/include/parrot/vtable.h
/include/pmc/*.h
/lib/DumbLink.pm
/lib/Parrot/*.tmp
/lib/Parrot/Jit.pm
/lib/Parrot/Makefile
/lib/Parrot/OpLib
/lib/Parrot/PMC.pm
/lib/Parrot/PakFile2.bs
/lib/Parrot/PakFile2.c
/lib/Parrot/blib
/lib/Parrot/pm_to_blib
/lib/Parrot/Config/Generated.pm
/lib/Parrot/Pmc2c/PCCMETHOD_BITS.pm
/runtime/parrot/dynext/*.bundle
/runtime/parrot/dynext/*.def
/runtime/parrot/dynext/*.dll
/runtime/parrot/dynext/*.dylib
/runtime/parrot/dynext/*.exe
/runtime/parrot/dynext/*.exp
/runtime/parrot/dynext/*.ilk
/runtime/parrot/dynext/*.lib
/runtime/parrot/dynext/*.manifest
/runtime/parrot/dynext/*.obj
/runtime/parrot/dynext/*.pdb
/runtime/parrot/dynext/*.so
/runtime/parrot/dynext/libnci.*
/runtime/parrot/include/*.fpmc
/runtime/parrot/include/*.pasm
/runtime/parrot/include/*.pbc
/runtime/parrot/include/*.pir
/runtime/parrot/languages/JSON/JSON.pir
/runtime/parrot/languages/data_json
/runtime/parrot/languages/winxed
/runtime/parrot/library/*.pbc
/runtime/parrot/library/OpenGL_funcs.pir
/runtime/parrot/library/PAST
/runtime/parrot/library/config.pir
/runtime/parrot/library/Archive/*.pbc
/runtime/parrot/library/CGI/*.pbc
/runtime/parrot/library/Config/*.pbc
/runtime/parrot/library/Configure/*.pbc
/runtime/parrot/library/Data/*.pbc
/runtime/parrot/library/Data/Dumper/*.pbc
/runtime/parrot/library/Digest/*.pbc
/runtime/parrot/library/Getopt/Obj.pbc
/runtime/parrot/library/HTTP/*.pbc
/runtime/parrot/library/LWP/*.pbc
/runtime/parrot/library/MIME/*.pbc
/runtime/parrot/library/Math/*.pbc
/runtime/parrot/library/NCI/*.pbc
/runtime/parrot/library/OpenGL/*.pbc
/runtime/parrot/library/PCT/*.pbc
/runtime/parrot/library/PGE/*.pbc
/runtime/parrot/library/Parrot/*.pbc
/runtime/parrot/library/ProfTest/*.pbc
/runtime/parrot/library/ProfTest/*.pir
/runtime/parrot/library/Stream/*.pbc
/runtime/parrot/library/String/Utils.pbc
/runtime/parrot/library/TAP/*.pbc
/runtime/parrot/library/Tcl/*.pbc
/runtime/parrot/library/Test/*.pbc
/runtime/parrot/library/Test/Builder/*.pbc
/runtime/parrot/library/URI/*.pbc
/runtime/parrot/library/YAML/*.pbc
/runtime/parrot/library/YAML/Tiny.pir
/runtime/parrot/library/YAML/Dumper/*.pbc
/runtime/parrot/library/YAML/Parser/*.pbc
/src/*.o
/src/*.obj
/src/*.str
/src/asmfun.*
/src/core_pmcs.c
/src/embed/*.o
/src/exec_cpu.c
/src/exec_dep.c
/src/exec_dep.h
/src/extend_vtable.c
/src/extra_nci_thunks.c
/src/fingerprint.c
/src/glut_callbacks.c
/src/glut_nci_thunks.c
/src/glut_nci_thunks.nci
/src/install_config.c
/src/jit_cpu.c
/src/jit_defs.c
/src/jit_emit.h
/src/null_config.c
/src/parrot_config.c
/src/parrot_config.h
/src/platform/*/*.o
/src/platform/*/*.gcda
/src/platform/*/*.gcno
/src/revision.c
/src/atomic/*.o
/src/call/*.o
/src/call/*.obj
/src/call/*.str
/src/dynoplibs/*.bundle
/src/dynoplibs/*.c
/src/dynoplibs/*.dll
/src/dynoplibs/*.exp
/src/dynoplibs/*.h
/src/dynoplibs/*.ilk
/src/dynoplibs/*.lib
/src/dynoplibs/*.manifest
/src/dynoplibs/*.o
/src/dynoplibs/*.obj
/src/dynoplibs/*.pdb
/src/dynoplibs/*.so
/src/dynoplibs/Defines.mak
/src/dynoplibs/Rules.mak
/src/dynpmc/*.bundle
/src/dynpmc/*.c
/src/dynpmc/*.def
/src/dynpmc/*.dll
/src/dynpmc/*.dump
/src/dynpmc/*.dylib
/src/dynpmc/*.exe
/src/dynpmc/*.exp
/src/dynpmc/*.h
/src/dynpmc/*.ilk
/src/dynpmc/*.lib
/src/dynpmc/*.mak
/src/dynpmc/*.manifest
/src/dynpmc/*.o
/src/dynpmc/*.obj
/src/dynpmc/*.pdb
/src/dynpmc/*.so
/src/gc/*.o
/src/gc/*.obj
/src/interp/*.o
/src/interp/*.str
/src/io/*.o
/src/io/*.obj
/src/io/*.str
/src/nci/*.o
/src/nci/*.obj
/src/nci/*.str
/src/ops/*.o
/src/ops/*.obj
/src/packfile/*.o
/src/packfile/*.obj
/src/packfile/*.str
/src/pmc/*.c
/src/pmc/*.dump
/src/pmc/*.h
/src/pmc/*.o
/src/pmc/*.obj
/src/pmc/*.str
/src/pmc/*.tmp
/src/runcore/*.o
/src/runcore/*.obj
/src/runcore/*.str
/src/string/*.o
/src/string/*.obj
/src/string/*.str
/src/string/private_cstring.h
/src/string/charset/*.o
/src/string/charset/*.obj
/src/string/encoding/*.o
/src/string/encoding/*.obj
/t/benchmark/*.pasm
/t/benchmark/*.pir
/t/compilers/data_json/*.pbc
/t/compilers/data_json/*.pir
/t/compilers/data_json/*_pbcexe
/t/compilers/imcc/*.pbc
/t/compilers/imcc/reg/*.pasm
/t/compilers/imcc/reg/*.pbc
/t/compilers/imcc/reg/*.pir
/t/compilers/imcc/reg/*_pbcexe*
/t/compilers/imcc/syn/*.pasm
/t/compilers/imcc/syn/*.pbc
/t/compilers/imcc/syn/*.pir
/t/compilers/imcc/syn/*_pbcexe*
/t/compilers/pct/*.pbc
/t/compilers/pct/*.pir
/t/compilers/pge/*.pasm
/t/compilers/pge/*.pbc
/t/compilers/pge/*.pir
/t/compilers/pge/*_pbcexe
/t/compilers/pge/p5regex/*.pir
/t/compilers/pge/perl6regex/*.pbc
/t/compilers/pge/perl6regex/*.pir
/t/compilers/tge/*.pbc
/t/compilers/tge/*.pir
/t/compilers/tge/*_pbcexe
/t/dynoplibs/*.pasm
/t/dynoplibs/*.pbc
/t/dynoplibs/*.pir
/t/dynpmc/*.pasm
/t/dynpmc/*.pbc
/t/dynpmc/*.pir
/t/dynpmc/*_pbcexe*
/t/examples/*.pasm
/t/examples/*.pbc
/t/examples/*.pir
/t/examples/*_pbcexe*
/t/library/*.out
/t/library/*.pasm
/t/library/*.pbc
/t/library/*.pir
/t/library/*_pbcexe*
/t/native_pbc/*_pbcexe*
/t/oo/*.pbc
/t/oo/*.pir
/t/op/*.out
/t/op/*.pasm
/t/op/*.pbc
/t/op/*.pir
/t/op/*_pbcexe*
/t/op/testlib/*.pbc
/t/perl/Parrot_Test_1.pasm
/t/perl/Parrot_Test_1.pir
/t/perl/*.gcda
/t/perl/*.gcno
/t/pir/pbc_fallback_1.pir
/t/pir/pbc_fallback_1.pbc
/t/pmc/*.out
/t/pmc/*.pasm
/t/pmc/*.pbc
/t/pmc/*.pir
/t/pmc/*_pbcexe*
/t/pmc/testlib/*.pbc
/t/src/*_*.c
/t/src/*.exe
/t/src/*.lib
/t/src/*.exp
/t/src/*.gcov
/t/src/*.gcdada
/t/src/embed/*.c
/t/stress/*.out
/t/stress/*.pasm
/t/stress/*.pbc
/t/stress/*.pir
/t/stress/*_pbcexe*
/t/tools/*.pbc
/t/tools/*.pir
/t/tools/*.stdout
/t/tools/pdb.t.*
/t/tools/pmc2c.*.c
/t/tools/pmc2c.*.dump
/t/tools/pmc2c.*.h
/t/tools/pmc2c.*.pmc
/tools/dev/mk_language_shell.pl
/*.gcda
/*.gcno
/*.gcov
/compilers/imcc/*.gcda
/compilers/imcc/*.gcno
/compilers/imcc/*.gcov
/frontend/parrot/*.gcda
/frontend/parrot/*.gcno
/frontend/parrot/*.gcov
/frontend/parrot_debugger/*.gcda
/frontend/parrot_debugger/*.gcno
/frontend/parrot_debugger/*.gcov
/frontend/pbc_dump/*.gcda
/frontend/pbc_dump/*.gcno
/frontend/pbc_dump/*.gcov
/frontend/pbc_merge/*.gcda
/frontend/pbc_merge/*.gcno
/frontend/pbc_merge/*.gcov
/src/*.gcda
/src/*.gcno
/src/*.gcov
/src/call/*.gcda
/src/call/*.gcno
/src/call/*.gcov
/src/dynoplibs/*.gcda
/src/dynoplibs/*.gcno
/src/dynoplibs/*.gcov
/src/dynpmc/*.gcda
/src/dynpmc/*.gcno
/src/dynpmc/*.gcov
/src/gc/*.gcda
/src/gc/*.gcno
/src/gc/*.gcov
/src/interp/*.gcda
/src/interp/*.gcno
/src/interp/*.gcov
/src/io/*.gcda
/src/io/*.gcno
/src/io/*.gcov
/src/nci/*.gcda
/src/nci/*.gcno
/src/nci/*.gcov
/src/ops/*.gcda
/src/ops/*.gcno
/src/ops/*.gcov
/src/packfile/*.gcda
/src/packfile/*.gcno
/src/packfile/*.gcov
/src/pmc/*.gcda
/src/pmc/*.gcno
/src/pmc/*.gcov
/src/runcore/*.gcda
/src/runcore/*.gcno
/src/runcore/*.gcov
/src/string/*.gcda
/src/string/*.gcno
/src/string/*.gcov
/src/string/encoding/*.gcda
/src/string/encoding/*.gcno
/src/string/encoding/*.gcov
/winxed
/winxed.*
# Local variables:
#   mode: text
#   buffer-read-only: t
# End:
