#!/usr/bin/make -f

CFLAGS = -Wall -g
VERSION = 0.3.0
SOVERSION = 0.3.1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

debian/control:
	perl -p -e 's/%SOVERSION%/$(SOVERSION)/g' debian/control.in > debian/control

configure: debian/control configure-stamp
configure-stamp:
	dh_testdir
	perl Configure.pl --prefix=/usr
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE) all shared
	pod2man --section=1 --release="Debian Project" --center="Debian GNU/Linux manual" docs/running.pod debian/parrot.1
	pod2man --section=1 --release="Debian Project" --center="Debian GNU/Linux manual" parrot-config.imc debian/parrot-config.imc.1
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp debian/parrot.1 debian/parrot-config.imc.1 debian/libparrot$(SOVERSION).install debian/libparrot$(SOVERSION)-dev.install
	-$(MAKE) realclean
	dh_clean 

debian/libparrot$(SOVERSION).install: debian/libparrot.install
	cp $< $@

debian/libparrot$(SOVERSION)-dev.install: debian/libparrot-dev.install
	cp $< $@

install: build debian/libparrot$(SOVERSION).install debian/libparrot$(SOVERSION)-dev.install
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs -plibparrot$(SOVERSION)-dev usr/share/lintian/overrides
	$(MAKE) install PREFIX=$(CURDIR)/debian/tmp/usr
	dh_install --sourcedir=$(CURDIR)/debian/tmp --list-missing
	perl -p -e 's/%SOVERSION%/$(SOVERSION)/g' debian/libparrot-dev.lintian-overrides > $(CURDIR)/debian/libparrot$(SOVERSION)-dev/usr/share/lintian/overrides/libparrot$(SOVERSION)-dev

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i 
	dh_testroot -i
	dh_installchangelogs -i ChangeLog
	dh_installman -plibparrot$(SOVERSION)-dev debian/parrot-config.imc.1
	dh_installdocs -i
	dh_link -plibparrot$(SOVERSION)-dev usr/lib/libparrot.so.$(SOVERSION) usr/lib/libparrot.so
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installman -pparrot debian/parrot.1
	dh_installdocs -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_makeshlibs -plibparrot$(SOVERSION)
	dh_shlibdeps -a -Llibparrot$(SOVERSION) -l$(CURDIR)/debian/libparrot$(SOVERSION)/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
