pre     {
  margin-left: 1em;
  margin-right: 4em;
  background: #ffffee;
  border: 1px solid black;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: pre;
}

html, body {
    margin:0;
    padding:0.5em;
    height:98%;
    overflow:hidden;
}

#content {
    height:92%;
}

#footer {
    position:fixed;
    bottom:0px
    height:5%;
    font-size: 50%;
}
