/*.tmp
/*.pdb
/_build
/blib
/Build
/Build.bat
/Makefile
/Makefile.PL
/*.bundle
/*.c
/*.dump
/*.dylib
/*.h
/*.so
/*.o
/*.exe
/*.pdb
/*.ilk
/*.def
/*.lib
/*.obj
/*.exp
/*.dll
/*.manifest
/*.bs
/*.old
/*.xs
/pm_to_blib
/dll.base
