/*.o
/*.obj
/*.str
/asmfun.*
/core_pmcs.c
/exec_cpu.c
/exec_dep.c
/exec_dep.h
/extend_vtable.c
/fingerprint.c
/glut_callbacks.c
/install_config.c
/jit_cpu.c
/jit_defs.c
/jit_emit.h
/nci.c
/null_config.c
/platform.c
/platform_asm.s
/parrot_config.c
/parrot_config.h
/revision.c
/call_list.txt
