/*.o
/*.obj
/*.str
/asmfun.*
/core_pmcs.c
/exec_cpu.c
/exec_dep.c
/exec_dep.h
/extra_nci_thunks.c
/extend_vtable.c
/fingerprint.c
/glut_callbacks.c
/glut_nci_thunks.nci
/glut_nci_thunks.c
/install_config.c
/jit_cpu.c
/jit_defs.c
/jit_emit.h
/null_config.c
/platform.c
/platform_asm.s
/parrot_config.c
/parrot_config.h
/revision.c
