


 /* because netscape 4 doesn't inherit from the body class we need to specify everything?!, gaah ... */
 body, table, td, p, span, h1, h2, h3, ul    { color: black; font-size: 12pt; font-family: Verdana, Helvetica, Arial, Univers, sans-serif }

 body { background-color: #ffffff; }

 span.comments   { font-size: 70% }
 h1             { font-size: 140%; font-weight: bold; }
 h2             {  font-size: 125%; font-weight: bold;}
 h3             { font-weight: bold; }
 /* table { color: red; } */

 a:link    { color: #690020 }
 a:active  { color: #003600 }
 a:hover   { color: #696040 }
 a:visited { color: #900000 }
 .tt        { color: black; font-family: Courier } 

  /* this ought to remove the link color */
.invisible { color: #ffffff; font-size: 10% }

DIV {
  border-width: 0;
}

.pod BODY {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 2ex;
}

.pod PRE     {
  background: #dddddd;
  border: 1px solid black;
  color: black;
  padding-top: 1em;
  white-space: pre;
}

.pod H1      {
  background: transparent;
  color: #006699;
  font-size: large;
}

.pod H2      {
  background: transparent;
  color: #006699;
  font-size: medium;
}

.pod IMG     {
  vertical-align: top;
}

.pod .toc A  {
  text-decoration: none;
}

.pod .toc LI {
  line-height: 1.2em;
  list-style-type: none;
}




